<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 3 years in experience with different aspects of Computer Science and Development as a student at
            Michigan State University. My projects have involved both individual endevors and school projects. I have experience
                working in groups and working alone  I'm a proficient in python, C++, HTML/CSS, PHP. My focus in developement is in
                Object Oriented Programming and software design.
        </p>
        <p>
            I love to solve problems.
            While I am interested in solving complex coding challenges, I am most attracted to solving issues with users/clients.
            I want to provide the user with the smoothest experience regardless visual aesthetic and function experience.
            My goal for my projects is to make the customer enjoy my projects and feel a sense a excitement after using the site

            I am looking for an internship where I can apply my ideals and skills in collaboration with other to gain experience on industrial development.
            Apart from building a fantastic project, I would like to be able to learn from other leaders about team leadership responsibilities and strengthen
            my project management skills.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">School Projects</h3>
		    <ul>
    			<li>
                   "Big Ten Invader", Mini game based off of Space invaders using C++ and OOP concepts
                </li>
                <li>
                    "Musical Machine" Mini project focusing on animation and adaptor methods.
                </li>
                <li>
                    "Who Murdered my Grade" Web based game based on the classic board game Clue
                </li>
            </ul>
            <h3 style="margin-top:0;">Personnal Projects</h3>
            <ul>
                <li> "PhoneRescue" an app created using android studio. Project purpose was to include buttons and Google's Firebase and Google's Google Maps API
                    To help rescuers located survivors. Included a button to play a loud beeping sound to help rescuers find survivors and a map locating service to
                    help recuers find people who are pinging for help.
                </li>

            </ul>
	    </div>
    </div>
  </div>
</section>
